.TodoCounter{
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;

}
.TodoCounter span{
    font-weight: bold;
}

h1 {
    font-family: "Press Start 2P", cursive;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: normal;

}
